@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define custom colors for normal mode */
  :root {
    --color-normal-background: #ffffff; /* Example light background color */
    --color-normal-text: #181818; /* Example text color */
  }

  /* Define custom colors for dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-dark-background: #181818; /* Example dark background color */
      --color-dark-text: #ffffff; /* Example light text color for dark mode */
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-normal-background);
  color: var(--color-normal-text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
  }
}
